//字体
@mixin font-family(
    $value: (
        'Microsoft YaHei',
        Tahoma,
        Arial,
        sans-serif
    )
) {
    font-family: $value;
}
// 文字溢出隐藏显示...
@mixin text-overflow($line: 1) {
    @if $line==1 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    } @else {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: $line;
        /*! autoprefixer: off */
        -moz-box-orient: vertical;
        -webkit-box-orient: vertical;
    }
}
//border
@mixin border($color: $border-color, $width: $border-width) {
    border: $width solid $color;
}
@mixin border-dir($i, $width: $border-width, $color: $border-color) {
    border-#{$i}: $width solid $color;
}
// border-radius
@mixin radius($radius: $radius-base, $overflow: hidden) {
    border-radius: $radius;
    overflow: $overflow;
}
//间距
@mixin padding-col($n: $size-base, $sizeKey: none) {
    @if $sizeKey == 'zero' {
        padding-top: $n !important;
        padding-bottom: $n !important;
    } @else {
        padding-top: $n;
        padding-bottom: $n;
    }
}

@mixin padding-row($n: $size-base, $sizeKey: none) {
    @if $sizeKey == 'zero' {
        padding-left: $n !important;
        padding-right: $n !important;
    } @else {
        padding-left: $n;
        padding-right: $n;
    }
}

@mixin margin-col($n: $size-base, $sizeKey: none) {
    @if $sizeKey == 'zero' {
        margin-top: $n !important;
        margin-bottom: $n !important;
    } @else {
        margin-top: $n;
        margin-bottom: $n;
    }
}

@mixin margin-row($n: $size-base, $sizeKey: none) {
    @if $sizeKey == 'zero' {
        margin-left: $n !important;
        margin-right: $n !important;
    } @else {
        margin-left: $n;
        margin-right: $n;
    }
}
